*{
    margin:0px;
    padding:0px;
}

.day{
    height: 240px;                 
    width: 100%;
    background-image: url("day.webp"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.night{
    height: 220px;                 
    width: 100%;
    background-image: url("night-mode-4032-x-3024-wallpaper-lm9bo8at70ve85sj.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*header*/

.header{
    position:relative;
    display: flex;
    width:100%;
    background-color: #FFC6D9;
    height:5rem;
    align-items: center;
}

#change-mode {
    margin-left: auto;
    margin-right: 2rem;
    height: 2rem;
    cursor: pointer;
    background-color: #FFF7AE;
}

#quotes {
  transition: opacity 0.3s ease;
}

#main-heading{
    position: absolute;
    left:50%;
    font-size: 4rem;
    transform: translateX(-50%);
    background-color: #FFC6D9;
    color:#48284A;
}

.quotes-section{
    margin-top:1.5rem;
    height:4rem;
    background-color: #FFF7AE;
    display: flex;
    justify-content: center;
    align-items: center;
}

#quotes{
    font-size:2.5rem ;
}

/*main*/

/*Add-task*/

.add-task{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.addbtn{
    margin-top:2.5rem;
    height:3rem;
    width:12rem;
    font-size: x-large;
    background-color: #916C80 ;
    color:white;
}

.addbtn:hover{
    cursor:pointer;
    opacity: 0.8;}

.input-task{
    margin-top:2.5rem;}

.input-task input{
    height:2.7rem;
    font-size:1.3rem;
    width:25rem;
}

.input-task button{
    height:2.5rem;
    font-size:1.3rem;
    width:4rem;
    background-color: #FFE1C6;
}

.input-button:hover{
    cursor:pointer;
    opacity: 0.8;}

.priority-section{
    height:2.5rem;
    font-size:1.3rem;
    width:6rem;
    background-color: grey;
    color:white;
    border:2px solid black;
}


/*view-tasks*/

.viewTasksList {
    display: grid;
    grid-auto-flow: column;          
    grid-template-rows: repeat(7, auto);            
    list-style-type: disc;
}


.viewTasksSection{
    display: flex;
    flex-direction: column;
    margin-top: 1.5%;
    justify-content: center;
    height:max-content;
    background-color: #FFE1C6;
    flex-wrap: wrap;
}

.viewTasksBtn{
    margin-left: 45%;
    margin-bottom:1%;
    margin-top:14px;
}

.tasks{
    font-size: 2rem;
    padding-left:3%;
    font-family: Arial, Helvetica, sans-serif;
}

input[type="checkbox"] {
    transform: scale(2);
    margin-right: 10px;
}

.del-button{
    margin-left: 10px;
    height:30px;
    width:40px;
    font-size: 1.3rem;
    cursor: pointer;
}

.del-button:hover{
    background-color: red;
    color:white;
}

#Disclaimer{
    font-size:2rem;
    text-align: center;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.clear-section{
    display: flex;
    flex-direction: row-reverse;
}

.clear-button{
    width:10%;
    font-size: large;
    margin:5px;
    cursor:pointer;
    background-color: cornsilk;
}

.Task-Tracker{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #48284A;
    color:white;
    font-size: 1.5rem;
    height:2.6rem;
    margin-top: 10px;
}

.edit-input {
    font-size: 1.5rem;
    padding: 4px;
    width: 40%;
}

.task-complete-section{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: rgb(90, 255, 145);
}

.live-clock {
    position: fixed;
    bottom: 15px;
    right: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 8px 14px;
    border-radius: 8px;
    font-size: 3rem;
    font-family: monospace;
    z-index: 1000;
}

.greeting-msg{
    position: fixed;
    bottom: 15px;
    left: 15px;
    color: #fff;
    padding: 8px 14px;
    border-radius: 8px;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    }


.hide{
    display: none;}

.show{
    display: block;
}






